<table class="table">
    123
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
        </tr>
    </thead>
    <tbody>
        <% var snumber = 0; %>
        <% assosiation.belong.forEach( function(user) { %>
        <tr>
            <td><%= ++snumber; %></td>
            <td><%= user.username %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<a href="/HOUSE/admin"> Back To previous page </a>